body {

  div.campaign {
    div.card {
      max-width: 340px;
      height: 230px;
      max-height: 230px;
      transition: 0.4s;
      box-sizing: border-box;

      button {
        height: 100%;
        width: 100%;
        transition: 0.4s;
      }

      button:hover {
        //background-color: #1b4b72;

      }
    }

    div.card {
      color: $test5;
      max-width: 340px;
      height: 230px;
      max-height: 230px;
      //border-radius: 0 10px 10px 10px;
      border-radius: 4px 4px 35px 4px;
      overflow: hidden;

      h3.up {
        text-transform: capitalize;
      }

      a {
        text-decoration: none;
        color: $test5;
        display: inline-block;
        height: 100%;
        width: 100%;

        div.no-gutters {
          height: 100%;
          position: relative;

          div.graph {
            min-width: 160px;
            min-height: 18px;
            position: absolute;
            bottom: 15px;

            div.el-progress-bar__inner {
              position: relative;

              div.el-progress-bar__innerText {
                position: absolute;
                right: 3px;
                top: 3px;
              }
            }
          }
        }
      }
    }

    div.card:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

  }


}