body {
  div.uno {
    position: relative;

    div.camp-header {
      margin-top: -20px;
      max-height: 600px;
      overflow: hidden;
      //padding: 5px;
      position:relative;
      img.big {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0 10px 10px 10px;
      }
      div.org-image {
        height: 75px;
        width: 75px;
        position: absolute;
        top: 10px;
        left: 10px;
        a {
          height: 100%;
          width: 100%;
          text-decoration: none;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        }
      }
    }

    div.camp-right {
      box-sizing: border-box;
      padding: 10px;
        //position: sticky;
        //top: 0;
        //right: 0;
      div.row {
        h2.blue {
          color: $testb;
        }
      }

      div.camp-button {
        width: 100%;
        text-align: center;
        padding-top: 30px;
      }
    }

    //header.big-image {
    //  width: 100%;
    //  height: 600px;
    //  position: relative;
    //  div.within {
    //    height: 80px;
    //    min-width: 100px;
    //    padding: 10px 30px 10px 30px;
    //    background-color: $test5;
    //    border-top-right-radius: 25px;
    //    position: absolute;
    //    left: 0;
    //    bottom: 0;
    //  }
    //}


  }
}
