body {

  button.ant-btn {
    height: 50px;
    width: 160px;
  }

  div.ant-input-number.ant-input-number-lg {
    margin-left: 10px;
    margin-top: 5px;
    height: 40px;

    input {

    }
  }

  div.donate-radio {
    margin-top: 40px;
    padding: 15px;

    p {
      display: inline-block;
    }

  }

  div.backup {
    div.ant-card {
      width: 280px;
      div.ant-card-cover {
        img {
          height: 100px;
          object-fit: cover;
        }
      }
    }


    div.ant-card:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

}