body {

  //button.ant-btn {
  //  height: 50px;
  //  width: 160px;
  //}
  button.el-button.sharp-left {
    border-radius: 0 10px 10px 10px;
  }

  div.ant-drawer-header {
    background-color: $testy4;

    div.ant-drawer-title {
      color: #fff;
    }

    button.ant-drawer-close {
      color: #fff;
    }
  }

  div.ant-drawer-body {
    //background-color: $test4;
  }

  form#donation-form {
    max-width: 700px;
    width: 700px;

    h6.error {
      color: #e2081c;
      padding-top: 5px;
    }

    div.ant-input-number.ant-input-number-lg {
      margin-left: 10px;
      margin-top: 5px;
      height: 40px;
      position: relative;
      top: 2px;

      input {

      }
    }

    div.donate-radio {
      margin-top: 40px;
      padding: 15px;

      p {
        display: inline-block;
      }

    }

    div.if {
      width: 100%;
      height: 400px;
      //background-color: $test5;
      border-bottom: 2px solid $test5;
      margin: 0;

      div.swiper-pagination-bullets {
        display: none;
      }

      div.swiper-container {
        width: 100%;

        div.campaign.swiper-slide {
          position: relative;
          width: 230px;
          max-width: 230px;
          margin-right: 15px;

          div.ant-card {
            width: 250px;
            height: 400px;
            margin-right: 15px;

            div.ant-card-cover {
              img {
                height: 150px;
                object-fit: cover;
              }
            }

            div.ant-card-body {
              height: 183px;
              position: relative;

              div.info {
                position: absolute;
                bottom: 12px;
                left: 24px;
              }
            }

            ul.ant-card-actions {
              background-color: $testy4;
            }
          }
        }

        div.campaign:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }
    }
  }
}