body {

  div.following {
    width: 100%;
    height: 150px;
    background-color: $test3;
    div.col-2 {

    div.item {
      border-radius: 25px;


      div.meter-border {
    height: 20px;
    width: 160px;
    border: 1px solid $test2;
    border-radius: 50px;
    div.meter-inside {
      height: 100%;
      width: 89%;
      background-color: $test4;
      //put a graident here
      border-radius: 50px;

    }
}
    }

    }
  }






}