body {

  nav.navbar.navbar-expand-md.navbar-light {
    //background-color: $main;
    text-align: center;
    background-color: $testy3;


    a.navbar-brand {
      position: absolute;
      left: 0;
    }

    div.collapse.navbar-collapse {
      position: relative;

      ul {
        display: inline-block;
        width: 100%;
        padding: 0;
        //margin-left: 20%;
        //margin-right: 0;

        li {
          display: inline;
          float: left;
          padding: 5px;

          a {
            text-decoration: none;
            color: $test5;
            height: 100%;
            width: 100%;

            i {
              font-size: 20px;

            }
          }
        }

        li.green {
          margin-top: 10px;
          display: inline;
          float: left;
          padding: 5px;
          //background-color: #00a676;
          background-color: #fff;
          //#3BCF93
          border-radius: 4px 4px 15px 4px;
          height: 30px;

          a {
            //color: #ffffff;
            color: $test1;
            position: relative;
            bottom: 10px;

          }
        }
      }

      ul.right {
        position: absolute;
        right: 0;
        text-align: right;
        width: 100px;

        div.dropdown-menu.dropdown-menu-right.show {
          a {
            color: #000;
          }
        }
      }
    }
  }
}