body {

  nav.navbar.navbar-expand-md.navbar-light {
    //background-color: $main;
    text-align: center;
    background-color: $testy5;
    height: 63px  ;
    //   background: linear-gradient(90deg, $testy4, $testy3);


    a.navbar-brand {
      position: absolute;
      left: 0;
      line-height: 50px;
      color: #fff;
      z-index: 1;
      img {
        margin-top: 5px;
      }
    }

    div.collapse.navbar-collapse {
      position: relative;

      ul {
        display: inline-block;
        width: 100%;
        padding: 0;

        li {
          display: inline;
          float: left;
          padding: 5px;

          a.big {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
          }

          a {
            text-decoration: none;
            color: $test5;
            height: 100%;
            width: 100%;

            i {
              font-size: 20px;

            }
          }
        }

        li.green {
          margin-top: 10px;
          display: inline;
          float: left;
          padding: 5px;
          background-color: #fff;
          border-radius: 4px 4px 15px 4px;
          height: 30px;

          a {
            color: $test1;
            position: relative;
            bottom: 10px;

          }
        }
      }

      ul.right {
        position: absolute;
        right: 0;
        text-align: right;
        width: 100px;

        div.dropdown-menu.dropdown-menu-right.show {
          a {
            color: #000;
          }
        }
      }
    }
  }
}