body {
  div.container.org {
    div.img {
      //background-color: $test4;
      height: 300px;
      margin: 0 auto;
      img {
        height: 80%;
        width: auto;
        object-fit: cover;
      }
    }


  }


}