body {
  form#post-form {
    //width: 700px;
    width: 100%;


    div.ant-progress.ant-progress-line {
      width: 540px;
      margin-left: 300px;
      transition: 0.4s;

      div.ant-progress-outer {
      }
    }

    div.post {

      div.card {
        margin-top: 15px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        //img {
        //  width: 100%;
        //  height: auto;
        //}
      }
    }

    div.submit {
      width: 900px;
    }
  }
}