body {
  form#post-form {
    //width: 700px;
    width: 100%;

    div.row {
      width: 100%;

      h5 {
        transition: 0.4s;
      }
    }

    div.ant-progress.ant-progress-line {
      width: 540px;
      transition: 0.4s;

      div.ant-progress-outer {
        margin-left: 25px;
      }

      span.ant-progress-text {
        margin-left: 20px;
      }
    }

    div.post {

      div.card {
        margin-top: 15px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        div.card-header.row {
          //width: 538px;
          position: relative;
          left: 15px;
        }


        div.avatar-uploader {
          width: 100%;
          min-height: 100px;
          border: 1px dashed $testb;

          div.el-upload.el-upload--text {
            width: 100%;
            min-height: 100px;

            div {
              min-height: 100px;

              i {
                margin-top: 45px;
                height: 20px;
                width: auto;
              }
            }
          }
        }

        div.card-body {
          input {
            border: none;
          }

          textarea {
            margin-top: 3px;
            border: none;
            min-height: 100px;
            height: 100px;
            max-height: 200px;
          }
        }
      }
    }

    div.submit {
      //width: 900px;
    }
  }
}