body {
  div.back {
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #f24224, rgba(78, 185, 69, 0.93), #59d532);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }


    div.container.register {


      div.row {
        div.col-6 {
          min-height: 280px;

          textarea {
            max-height: 50px;
            height: 50px;
          }
        }
      }
    }
  }

}
