// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$testy1: rgba(245, 245, 245, 1);
//$testy2: #095256;
//$testy3: #5AAA95;
$testy2: #f3f5f4;
$testy3: #5AAA95;
$testy4: #14453D;
$testy5: #1C5F54;
 //rgba(169, 233, 176, 0.47) #F2F4F3
//#004144 rgba(0, 111, 115, 0.67) #ffc5f4
$shade1: #D64045;
$shade2:#F4A259;
$shade3: #14453D; // this one ri hua

$main: #095256;
$second: #087F8C;
$third: #5AAA95;
$four: #86A873;
$five: #BB9F06;

$test1: #01090A;
$test2: #152122;
$test3: #859090;
$test4: #B8C3CC;
$test5: #f5f5f5;
$testb: #40A9FF;

